.index-page{
    margin-right: -1.9px;
}
#home-page{
    width: 100%;
    height: 662px;
    border: 1px solid rgb(4, 4, 4);
    background-image: url('./outline1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -15px;
}
h1{
    text-align: center; 
    text-decoration-line: underline;
}
a{
    text-decoration: none;
    color:aliceblue;
    font-size: 20px;
}
#list{
    display: flex;
    list-style-type: none;
    background-color: black;
    margin-top: -6px;
}
.sub-list{
    margin-left: 180px;
    margin-top: 17px;
    margin-bottom: 10px;
    padding: 6px;
}
#name{
    font-weight: bolder;
    font-size: 35px;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 20px;
    text-decoration-line: underline;
    color:aliceblue;
}
